@media only screen and (max-width: 991px) {
  .card.course {
    flex-direction: row;
  }

  .card.course img {
    width: 180px;
    height: auto;
    object-fit: scale-down;
  }
}

.card.course:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}
